<div class="relative min-h-screen bg-black overflow-hidden">
    <!-- Glowing Circle 1 (Bottom-Left) -->
    <div
        class="absolute bottom-2 left-1 w-28 h-28 sm:w-56 sm:h-56 md:w-72 md:h-72 rounded-full bg-white opacity-30 blur-[50px]">
    </div>

    <!-- Glowing Circle 2 (Top-Right) -->
    <div
        class="absolute top-10 right-10 w-20 h-20 sm:w-40 sm:h-40 md:w-52 md:h-52 rounded-full bg-white opacity-20 blur-[30px]">
    </div>

    <!-- Content Section -->
    <div class="relative z-10">
        <app-nav-bar></app-nav-bar>
        <!-- Main Content -->
        <router-outlet></router-outlet>
        <app-crousel></app-crousel>
        <app-program></app-program>
       
    </div>
</div>