<div class="ml-10 mr-5 relative">
    <div
        class="absolute bottom-2 left-1 w-28 h-28 sm:w-56 sm:h-56 md:w-72 md:h-72 rounded-full bg-white opacity-30 blur-[50px] z-10">
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-[1fr_2fr_2fr]">
        <!-- First Column -->
        <div class="text-white p-1 mt-52 hidden sm:block">
            <img src="images/Fitness.png" alt="Fitness" class="h-auto object-cover justify-end" />
        </div>
        <!-- Second Column -->
        <div class="text-white p-3 mt-36">
            <h1 class="text-4xl sm:text-6xl md:text-6xl font-bold space-y-3 text-start">
                <span class="block">Helps for your</span>
                <span class="block"></span>
                <span class="block">ideal body</span>
                <span class="block">fitness</span>
            </h1>

            <app-typing-animation></app-typing-animation>
            <p class="text-xl mt-4 text-start text-gray-600">Motivate users with benefits and positive reinforcement,
                and offer modifications and progress tracking.</p>
            <div class="flex space-x-4">
                <button
                    class="bg-gradient-to-r from-[#ffffff] to-[#ffffff] text-black px-6 py-2 mt-4 rounded-full border-gray-700 border hover:bg-white flex items-center justify-center gap-2">
                    <mat-icon class="text-lg leading-none mt-2">home</mat-icon>
                    <span class="text-base">Get Started</span>
                </button>
                <button
                    class="bg-white text-black  px-6 py-2 mt-4 rounded-full border-gray-700 border hover:bg-gray-100 flex items-center justify-center">
                    Learn More
                </button>
            </div>
        </div>
        <!-- Third Column image -->
        <div class="mt-20 hidden md:block">
            <img src="images/image3.png" alt="Fitness" class="h-auto object-contain" />
        </div>
    </div>

</div>
