/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'MyFont';
  src: url('../src/assets/myfont.ttf');
}

@font-face {
  font-family: 'LogoFont';
  src: url('../src/assets/logofont.ttf');
}
.mobile-menu {
  transition: max-height 0.3s ease-in-out;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
