<div class="">
    <div class="h-full flex flex-col md:flex-row">
        <div class="w-full md:w-1/2 h-1/2 md:h-full p-4">
            <div class="flex flex-row gap-4 mb-4">
                <div class="w-1/2 p-2 bg-white shadow rounded">
                    <p>Card 1 content</p>
                </div>
                <div class="w-1/2 p-2 bg-white shadow rounded">
                    <p>Card 2 content</p>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <div class="w-1/2 p-2 bg-white shadow rounded">
                    <p>Card 3 content</p>
                </div>
                <div class="w-1/2 p-2 bg-white shadow rounded">
                    <p>Card 4 content</p>
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/2 h-1/2 md:h-full p-4">
            <img src='images/background2.png' alt="program image" class="object-cover" />
        </div>
    </div>
</div>