<div class="flex flex-wrap m-8">
  <h1 class="w-full text-4xl font-bold text-start text-white mt-8">Our Programs</h1>
  <!-- First Column -->
  <div class="w-full md:w-1/2 p-4 mt-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div *ngFor="let card of cards" class="flex items-center">
        <app-program-card 
          [title]="card.title" 
          [description]="card.description" 
          [image]="card.image">
        </app-program-card>
      </div>
    </div>
  </div>

  <!-- Second Column -->
  <div class="w-full md:w-1/2 h-1/2 md:h-full p-4">
    <img src="images/background2.png" alt="Program image" class="w-full h-auto md:h-full object-cover" />
  </div>
</div>
